// ============================================================================
// Typography Stylesheet
// ============================================================================

* {
  word-wrap: break-word;
}

h1 {
  // font-size: ;
  // line-height: ;
}

h2 {
  // font-size: ;
  // line-height: ;
}

h3 {
  // font-size: ;
  // line-height: ;
}

h4 {
  // font-size: ;
  // line-height: ;
}

h5 {
  // font-size: ;
  // line-height: ;
}

h6 {
  // font-size: ;
  // line-height: ;
}

ol {

}

ul:not(.nav) {
  li:not(.link, .current) {

  }
}

p {

}

a {
  transition: all ease 500ms;
  &:hover, &:focus, &:active {
    text-decoration: none;
  }
}

hr {

}

blockquote {

}
